div.menu {
    display: inline;
}

div.album-workshop-menu {
    max-width: 200px;
    float: left;
    display: inline;
    position: absolute;
}

.album-caption {
    background-color: #d9ffba;
}

div#feed-place {
    width: 960px;
    display: block;
}

.column {
    margin-top: 40px;
    float: left;
    width: 300px;
    height: 600px;
    background-color: #f8f8f8;
}

.gutter {
    margin-top: 40px;
    float: left;
    width: 20px;
    height: 600px;
    background-color: #fefefe;
}

.gutter-outer {
    margin-top: 40px;
    float: left;
    width: 10px;
    height: 600px;
    background-color: #fefefe;
}

.feed {
    font-family: Helvetica sans-serif;
}

.menu a {
    background-color: #bababa;
    padding: 2px;
}